In [182]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [183]:
train.head(5)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [184]:
# PassengerId - A unique Id for each passenger. Each Id takes the form gggg_pp where gggg indicates a group the passenger is travelling with and pp is their number within the group. People in a group are often family members, but not always.
# HomePlanet - The planet the passenger departed from, typically their planet of permanent residence.
# CryoSleep - Indicates whether the passenger elected to be put into suspended animation for the duration of the voyage. Passengers in cryosleep are confined to their cabins.
# Cabin - The cabin number where the passenger is staying. Takes the form deck/num/side, where side can be either P for Port or S for Starboard.
# Destination - The planet the passenger will be debarking to.
# Age - The age of the passenger.
# VIP - Whether the passenger has paid for special VIP service during the voyage.
# RoomService, FoodCourt, ShoppingMall, Spa, VRDeck - Amount the passenger has billed at each of the Spaceship Titanic's many luxury amenities.
# Name - The first and last names of the passenger.
# Transported - Whether the passenger was transported to another dimension. This is the target, the column you are trying to predict.

In [185]:
train_y = train.Transported
train_X = train.drop('Transported', axis=1)
train_y

0       False
1        True
2       False
3       False
4        True
        ...
8688    False
8689    False
8690     True
8691    False
8692     True
Name: Transported, Length: 8693, dtype: bool

In [186]:
train_X.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
dtype: int64

In [187]:
# #dealing with missing values
# names = list(train_X.HomePlanet.unique())
# #checking distribution
# heights=[]
# for i in range(len(names)-1):
#     heights.append(train_X[train_X.HomePlanet==names[i]].shape[0])
# heights.append(train_X.HomePlanet.isnull().sum())

In [188]:
# plt.bar(range(len(names)), heights, tick_label=names)

In [189]:
# #filling with the most common value
# train_X.HomePlanet = train_X.HomePlanet.fillna('Earth')

In [190]:
# #dealing with missing values
# names = list(test.HomePlanet.unique())
# #checking distribution
# heights=[]
# for i in range(len(names)-1):
#     heights.append(test[test.HomePlanet==names[i]].shape[0])
# heights.append(test.HomePlanet.isnull().sum())
# plt.bar(range(len(names)), heights, tick_label=names)
# test.HomePlanet = test.HomePlanet.fillna('Earth')

In [191]:
# train_X.CryoSleep.value_counts()
# test.CryoSleep.value_counts()
# train_X.CryoSleep = train_X.CryoSleep.fillna('False')
# test.CryoSleep = train_X.CryoSleep.fillna('False')

In [192]:
# #Get groups extracted
# train_X.Cabin

In [193]:
train_cat = train_X.select_dtypes(include='object')
train_num = train_X.select_dtypes(exclude='object')
test_cat = test.select_dtypes(include='object')
test_num = test.select_dtypes(exclude='object')

In [194]:
train_cat.Name.isnull().sum()

200

In [195]:
train_cat.Name =train_cat.Name.fillna('No Name')

In [196]:
# from sklearn.impute import SimpleImputer
# cat = SimpleImputer(strategy = 'most_frequent')
# num = SimpleImputer(strategy='mean')
# train_cat2 = cat.fit_transform(train_cat)
# train_num2 = num.fit_transform(train_num)
# test_cat2=cat.fit_transform(test_cat)
# test_num2 = num.fit_transform(test_num)

In [197]:
# train_cat3 = pd.DataFrame(train_cat2, index=train_cat.index, columns=train_cat.columns)
# train_num3 = pd.DataFrame(train_num2, index=train_num.index, columns=train_num.columns)
# test_cat3 = pd.DataFrame(test_cat2, index=test_cat.index, columns=test_cat.columns)
# test_num3 = pd.DataFrame(test_num2, index=test_num.index, columns=test_num.columns)

In [198]:
# train_X = pd.concat([train_cat3, train_num3], axis=1)
# test = pd.concat([test_cat3, test_num3], axis=1)

In [199]:
#dealing with categorical values
train_cat['Group']=0
for i in range(train_cat.shape[0]):
    train_cat['Group'][i] = train_cat['PassengerId'][i][:4]
test_cat['Group']=0
for i in range(test_cat.shape[0]):
    test_cat['Group'][i] = test_cat['PassengerId'][i][:4]

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18552\1724596563.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_cat['Group'][i] = train_cat['PassengerId'][i][:4]
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18552\1724596563.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_cat['Group'][i] = test_cat['PassengerId'][i][:4]

In [200]:
miss_id = list(train_cat[train_cat.HomePlanet.isnull()==True].index)

In [201]:
cols = list(train_cat.columns)

for j in cols:
    train_cat[j] = train_cat[j].fillna('nan')
    

    for row in range(train_cat.shape[0]):
        if train_cat.iloc[row][j]=='nan':
            group=train_cat.iloc[row]['Group']
            groups = train_cat[j][train_cat['Group']==group]
            for i in groups:
                if(i!='nan'):
                    train_cat.at[row,j]= i
                    break
            if train_cat.iloc[row][j]=='nan':
                train_cat.at[row,j]=None
                
for j in cols:
    test_cat[j] = test_cat[j].fillna('nan')
    

    for row in range(test_cat.shape[0]):
        if test_cat.iloc[row][j]=='nan':
            group=test_cat.iloc[row]['Group']
            groups = test_cat[j][test_cat['Group']==group]
            for i in groups:
                if(i!='nan'):
                    test_cat.at[row,j]= i
                    break
            if test_cat.iloc[row][j]=='nan':
                test_cat.at[row,j]=None

In [202]:
#imputing the rest with the most frequent value
#imputing the numerical values with median 
#try out the KNNImputer for numerical values!

from sklearn.impute import SimpleImputer, KNNImputer
cat = SimpleImputer(missing_values=None, strategy = 'most_frequent')
num = SimpleImputer(strategy='median')
train_cat2 = cat.fit_transform(train_cat)
test_cat2=cat.fit_transform(test_cat)
train_num2 = num.fit_transform(train_num)
test_num2 = num.fit_transform(test_num)

In [203]:
train_cat3 = pd.DataFrame(train_cat2, index=train_cat.index, columns=train_cat.columns)
train_num3 = pd.DataFrame(train_num2, index=train_num.index, columns=train_num.columns)
test_cat3 = pd.DataFrame(test_cat2, index=test_cat.index, columns=test_cat.columns)
test_num3 = pd.DataFrame(test_num2, index=test_num.index, columns=test_num.columns)

In [204]:
train_cat3.CryoSleep=train_cat3.CryoSleep.replace({False:0,True:1})
train_cat3.VIP=train_cat3.VIP.replace({False:0,True:1})
test_cat3.CryoSleep=test_cat3.CryoSleep.replace({False:0,True:1})
test_cat3.VIP=test_cat3.VIP.replace({False:0,True:1})

In [205]:
#One hot encode later
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
oh = OneHotEncoder()

train_cat3

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,VIP,Name,Group
0,0001_01,Europa,0,B/0/P,TRAPPIST-1e,0,Maham Ofracculy,0001
1,0002_01,Earth,0,F/0/S,TRAPPIST-1e,0,Juanna Vines,0002
2,0003_01,Europa,0,A/0/S,TRAPPIST-1e,1,Altark Susent,0003
3,0003_02,Europa,0,A/0/S,TRAPPIST-1e,0,Solam Susent,0003
4,0004_01,Earth,0,F/1/S,TRAPPIST-1e,0,Willy Santantines,0004
...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,0,A/98/P,55 Cancri e,1,Gravior Noxnuther,9276
8689,9278_01,Earth,1,G/1499/S,PSO J318.5-22,0,Kurta Mondalley,9278
8690,9279_01,Earth,0,G/1500/S,TRAPPIST-1e,0,Fayey Connon,9279
8691,9280_01,Europa,0,E/608/S,55 Cancri e,0,Celeon Hontichre,9280
8692,9280_02,Europa,0,E/608/S,TRAPPIST-1e,0,Propsh Hontichre,9280

In [206]:
#What to do with the Cabin?

In [207]:
#Get feature, for family
train_cat3.Name = train_cat3.Name.astype(str)
train_cat3['NameSplt']=train_cat3.Name.str.split()
train_cat3['HasFam']=0
train_cat3['Surname']=0
for row in range(train_cat3.shape[0]):
    train_cat3.loc[row, 'Surname']= train_cat3.loc[row, 'NameSplt'][1]
train_cat3 = train_cat3.drop('NameSplt', axis=1)

test_cat3.Name = test_cat3.Name.astype(str)
test_cat3['NameSplt']=test_cat3.Name.str.split()
test_cat3['HasFam']=0
test_cat3['Surname']=0
for row in range(test_cat3.shape[0]):
    test_cat3.loc[row, 'Surname']= test_cat3.loc[row, 'NameSplt'][1]
test_cat3 = test_cat3.drop('NameSplt', axis=1)

In [208]:
train_cat3

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,VIP,Name,Group,HasFam,Surname
0,0001_01,Europa,0,B/0/P,TRAPPIST-1e,0,Maham Ofracculy,0001,0,Ofracculy
1,0002_01,Earth,0,F/0/S,TRAPPIST-1e,0,Juanna Vines,0002,0,Vines
2,0003_01,Europa,0,A/0/S,TRAPPIST-1e,1,Altark Susent,0003,0,Susent
3,0003_02,Europa,0,A/0/S,TRAPPIST-1e,0,Solam Susent,0003,0,Susent
4,0004_01,Earth,0,F/1/S,TRAPPIST-1e,0,Willy Santantines,0004,0,Santantines
...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,0,A/98/P,55 Cancri e,1,Gravior Noxnuther,9276,0,Noxnuther
8689,9278_01,Earth,1,G/1499/S,PSO J318.5-22,0,Kurta Mondalley,9278,0,Mondalley
8690,9279_01,Earth,0,G/1500/S,TRAPPIST-1e,0,Fayey Connon,9279,0,Connon
8691,9280_01,Europa,0,E/608/S,55 Cancri e,0,Celeon Hontichre,9280,0,Hontichre
8692,9280_02,Europa,0,E/608/S,TRAPPIST-1e,0,Propsh Hontichre,9280,0,Hontichre

In [209]:
train_cat3
for row in range(train_cat3.shape[0]):
    group=train_cat3.iloc[row]['Group']
    groups = train_cat[train_cat['Group']==group]
    if groups.shape[0]>1:
        for i in range(row + 1, min(row + groups.shape[0], train_cat3.shape[0])):
            if train_cat3.iloc[row]['Surname']==train_cat3.iloc[i]['Surname']:
                train_cat3.at[row,'HasFam']=train_cat3.at[i, 'HasFam']=1
                


train_cat3 = train_cat3.drop('Surname', axis=1)
                
for row in range(test_cat3.shape[0]):
    group=test_cat3.iloc[row]['Group']
    groups = test_cat[test_cat['Group']==group]
    if groups.shape[0]>1:
        for i in range(row + 1, min(row + groups.shape[0], test_cat3.shape[0])):
            if test_cat3.iloc[row]['Surname']==test_cat3.iloc[i]['Surname']:
                test_cat3.at[row,'HasFam']=test_cat3.at[i, 'HasFam']=1            
test_cat3 = test_cat3.drop('Surname', axis=1)

In [210]:
train_cat3

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,VIP,Name,Group,HasFam
0,0001_01,Europa,0,B/0/P,TRAPPIST-1e,0,Maham Ofracculy,0001,0
1,0002_01,Earth,0,F/0/S,TRAPPIST-1e,0,Juanna Vines,0002,0
2,0003_01,Europa,0,A/0/S,TRAPPIST-1e,1,Altark Susent,0003,1
3,0003_02,Europa,0,A/0/S,TRAPPIST-1e,0,Solam Susent,0003,1
4,0004_01,Earth,0,F/1/S,TRAPPIST-1e,0,Willy Santantines,0004,0
...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,0,A/98/P,55 Cancri e,1,Gravior Noxnuther,9276,0
8689,9278_01,Earth,1,G/1499/S,PSO J318.5-22,0,Kurta Mondalley,9278,0
8690,9279_01,Earth,0,G/1500/S,TRAPPIST-1e,0,Fayey Connon,9279,0
8691,9280_01,Europa,0,E/608/S,55 Cancri e,0,Celeon Hontichre,9280,1
8692,9280_02,Europa,0,E/608/S,TRAPPIST-1e,0,Propsh Hontichre,9280,1

In [211]:
#figure out the Cabin
# deck/num/side 
#side - P-Port, S-Starboard
train_cat3.Cabin= train_cat3.Cabin.astype(str)
train_cat3['Deck']=0
train_cat3['Side']=0
train_cat3['NewCabin']=train_cat3.Cabin.str.split('/')
train_cat3['CabNum']=0
for i in range(train_cat3.shape[0]):
    train_cat3.at[i, 'Deck']=train_cat3.loc[i, 'Cabin'][:1]
    train_cat3.at[i, 'Side']=train_cat3.loc[i, 'Cabin'][-1]
    train_cat3.at[i, 'CabNum'] = train_cat3.loc[i, 'NewCabin'][1]

In [212]:
test_cat3.Cabin= test_cat3.Cabin.astype(str)
test_cat3['Deck']=0
test_cat3['Side']=0
test_cat3['NewCabin']=test_cat3.Cabin.str.split('/')
test_cat3['CabNum']=0
for i in range(test_cat3.shape[0]):
    test_cat3.at[i, 'Deck']=test_cat3.loc[i, 'Cabin'][:1]
    test_cat3.at[i, 'Side']=test_cat3.loc[i, 'Cabin'][-1]
    test_cat3.at[i, 'CabNum'] = test_cat3.loc[i, 'NewCabin'][1]

In [213]:
train_cat3 = train_cat3.drop(['Cabin', 'NewCabin', 'Name'], axis=1)
test_cat3 = test_cat3.drop(['Cabin', 'NewCabin', 'Name'], axis=1)

In [214]:
train_cat3.dtypes

PassengerId    object
HomePlanet     object
CryoSleep       int64
Destination    object
VIP             int64
Group          object
HasFam          int64
Deck           object
Side           object
CabNum         object
dtype: object

In [215]:
train_cat3.Group=train_cat3.Group.astype('int64')
train_cat3.CabNum=train_cat3.CabNum.astype('int64')
test_cat3.Group = test_cat3.Group.astype('int64')
test_cat3.CabNum=test_cat3.CabNum.astype('int64')

oh_train = train_cat3[['HomePlanet', 'Destination','Deck', 'Side']]
oh_test = test_cat3[['HomePlanet', 'Destination','Deck', 'Side']]
train_cat3 = train_cat3.drop(['HomePlanet', 'Destination','Deck', 'Side'], axis=1)
test_cat3 = test_cat3.drop(['HomePlanet', 'Destination', 'Deck', 'Side'], axis=1)

In [216]:
# from sklearn.preprocessing import OneHotEncoder
# oh = OneHotEncoder(handle_unknown='ignore', sparse=False)

# oh_tr = oh.fit_transform(oh_train)
# train_df = pd.DataFrame(oh_tr, index=oh_train.index, columns=oh.get_feature_names_out())
# oh2 = OneHotEncoder(handle_unknown='ignore', sparse=False)
# oh_tt = oh2.fit_transform(oh_test)
# test_df = pd.DataFrame(oh_tt, index=oh_test.index, columns=oh2.get_feature_names_out())

In [217]:

label = LabelEncoder()
oh_train.HomePlanet = label.fit_transform(oh_train.HomePlanet)
oh_train.Deck = label.fit_transform(oh_train.Deck)
oh_train.Destination = label.fit_transform(oh_train.Destination)
oh_train.Side = label.fit_transform(oh_train.Side)
train_df=oh_train

In [218]:
oh_test.HomePlanet = label.fit_transform(oh_test.HomePlanet)
oh_test.Deck = label.fit_transform(oh_test.Deck)
oh_test.Destination = label.fit_transform(oh_test.Destination)
oh_test.Side = label.fit_transform(oh_test.Side)
test_df=oh_test

In [219]:
# from sklearn.impute import SimpleImputer
# num = SimpleImputer(strategy='mean')
# train_num2 = num.fit_transform(train_num)
# test_num2 = num.fit_transform(test_num)
# train_num3 = pd.DataFrame(train_num2, index=train_num.index, columns=train_num.columns)
# test_num3 = pd.DataFrame(train_num3, index=test_num.index, columns=test_num.columns)

In [220]:
train_merged = pd.concat([train_cat3, train_num3, train_df], axis=1)
test_merged = pd.concat([test_cat3, test_num3, test_df], axis=1)

In [221]:
train_merged

,PassengerId,CryoSleep,VIP,Group,HasFam,CabNum,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet,Destination,Deck,Side
0,0001_01,0,0,1,0,0,39.0,0.0,0.0,0.0,0.0,0.0,1,2,1,0
1,0002_01,0,0,2,0,0,24.0,109.0,9.0,25.0,549.0,44.0,0,2,5,1
2,0003_01,0,1,3,1,0,58.0,43.0,3576.0,0.0,6715.0,49.0,1,2,0,1
3,0003_02,0,0,3,1,0,33.0,0.0,1283.0,371.0,3329.0,193.0,1,2,0,1
4,0004_01,0,0,4,0,1,16.0,303.0,70.0,151.0,565.0,2.0,0,2,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,0,1,9276,0,98,41.0,0.0,6819.0,0.0,1643.0,74.0,1,0,0,0
8689,9278_01,1,0,9278,0,1499,18.0,0.0,0.0,0.0,0.0,0.0,0,1,6,1
8690,9279_01,0,0,9279,0,1500,26.0,0.0,0.0,1872.0,1.0,0.0,0,2,6,1
8691,9280_01,0,0,9280,1,608,32.0,0.0,1049.0,0.0,353.0,3235.0,1,0,4,1
8692,9280_02,0,0,9280,1,608,44.0,126.0,4688.0,0.0,0.0,12.0,1,2,4,1

In [222]:
#trying out finding missing numerical values with KNNImputer
train_merged.isnull().sum()
num = KNNImputer(n_neighbors=5)
train_num2 = num.fit_transform(train_merged)
test_num2 = num.fit_transform(test_merged)
train_X = pd.DataFrame(train_num2, index=train_merged.index, columns=train_merged.columns)
test = pd.DataFrame(test_num2, index=test_merged.index, columns=test_merged.columns)

# from sklearn.impute import SimpleImputer
# num = SimpleImputer(strategy='mean')
# train_num2 = num.fit_transform(train_num)
# test_num2 = num.fit_transform(test_num)
# train_X=train_merged
# test=test_merged

In [223]:
train_std_cols = train_X[['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'CabNum']]
train_X = train_X.drop(['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'CabNum'], axis=1)
test_std_cols = test[['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'CabNum']]
test = test.drop(['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'CabNum'], axis=1)

In [228]:
pd.set_option('display.max_columns', None)
from sklearn.preprocessing import StandardScaler, MinMaxScaler
std = StandardScaler()
train_std = std.fit_transform(train_std_cols)
test_std = std.fit_transform(test_std_cols)

In [229]:
train_norm = pd.DataFrame(train_std, index=train_std_cols.index, columns=train_std_cols.columns)
test_norm = pd.DataFrame(test_std, index=test_std_cols.index, columns=test_std_cols.columns)

In [230]:
train_X = pd.concat([train_X, train_norm], axis=1)
test = pd.concat([test, test_norm], axis=1)

In [232]:
train_X

,PassengerId,CryoSleep,VIP,Group,HasFam,HomePlanet,Destination,Deck,Side,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,CabNum,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,CabNum
0,101.0,0.0,0.0,1.0,0.0,1.0,2.0,1.0,0.0,0.711945,-0.333105,-0.281027,-0.283579,-0.270626,-0.263003,-1.180883,0.493671,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,201.0,0.0,0.0,2.0,0.0,0.0,2.0,5.0,1.0,-0.334037,-0.168073,-0.275387,-0.241771,0.217158,-0.224205,-1.180883,0.303797,0.007608,0.000302,0.001064,0.024500,0.001823,0.000000
2,301.0,0.0,1.0,3.0,1.0,1.0,2.0,0.0,1.0,2.036857,-0.268001,1.959998,-0.283579,5.695623,-0.219796,-1.180883,0.734177,0.003001,0.119948,0.000000,0.299670,0.002030,0.000000
3,302.0,0.0,0.0,3.0,1.0,1.0,2.0,0.0,1.0,0.293552,-0.333105,0.523010,0.336851,2.687176,-0.092818,-1.180883,0.417722,0.000000,0.043035,0.015793,0.148563,0.007997,0.000000
4,401.0,0.0,0.0,4.0,0.0,0.0,2.0,5.0,1.0,-0.891895,0.125652,-0.237159,-0.031059,0.231374,-0.261240,-1.178932,0.202532,0.021149,0.002348,0.006428,0.025214,0.000083,0.000528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,927601.0,0.0,1.0,9276.0,0.0,1.0,0.0,0.0,0.0,0.851410,-0.333105,3.992336,-0.283579,1.189173,-0.197751,-0.989741,0.518987,0.000000,0.228726,0.000000,0.073322,0.003066,0.051742
8689,927801.0,1.0,0.0,9278.0,0.0,0.0,1.0,6.0,1.0,-0.752431,-0.333105,-0.281027,-0.283579,-0.270626,-0.263003,1.742810,0.227848,0.000000,0.000000,0.000000,0.000000,0.000000,0.791447
8690,927901.0,0.0,0.0,9279.0,0.0,0.0,2.0,6.0,1.0,-0.194573,-0.333105,-0.281027,2.846999,-0.269737,-0.263003,1.744761,0.329114,0.000000,0.000000,0.079687,0.000045,0.000000,0.791975
8691,928001.0,0.0,0.0,9280.0,1.0,1.0,0.0,4.0,1.0,0.223820,-0.333105,0.376365,-0.283579,0.043013,2.589576,0.004978,0.405063,0.000000,0.035186,0.000000,0.015753,0.134049,0.321014
8692,928002.0,0.0,0.0,9280.0,1.0,1.0,2.0,4.0,1.0,1.060606,-0.142335,2.656871,-0.283579,-0.270626,-0.252422,0.004978,0.556962,0.008795,0.157247,0.000000,0.000000,0.000497,0.321014

In [233]:
train_X.to_csv('train_transformed6.csv',index=False)
train_y.to_csv('y.csv', index=False)
test.to_csv('test_transformed6.csv', index=False)

In [234]:
X = pd.read_csv('train_transformed6.csv')
y=pd.read_csv('y.csv')
test = pd.read_csv('test_transformed6.csv')

In [235]:
X = X.drop(['PassengerId','Group'], axis=1)
test = test.drop(['PassengerId','Group'], axis=1)

In [236]:
X

,CryoSleep,VIP,HasFam,HomePlanet,Destination,Deck,Side,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,CabNum,Age.1,RoomService.1,FoodCourt.1,ShoppingMall.1,Spa.1,VRDeck.1,CabNum.1
0,0.0,0.0,0.0,1.0,2.0,1.0,0.0,0.711945,-0.333105,-0.281027,-0.283579,-0.270626,-0.263003,-1.180883,0.493671,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.0,0.0,0.0,0.0,2.0,5.0,1.0,-0.334037,-0.168073,-0.275387,-0.241771,0.217158,-0.224205,-1.180883,0.303797,0.007608,0.000302,0.001064,0.024500,0.001823,0.000000
2,0.0,1.0,1.0,1.0,2.0,0.0,1.0,2.036857,-0.268001,1.959998,-0.283579,5.695623,-0.219796,-1.180883,0.734177,0.003001,0.119948,0.000000,0.299670,0.002030,0.000000
3,0.0,0.0,1.0,1.0,2.0,0.0,1.0,0.293552,-0.333105,0.523010,0.336851,2.687176,-0.092818,-1.180883,0.417722,0.000000,0.043035,0.015793,0.148563,0.007997,0.000000
4,0.0,0.0,0.0,0.0,2.0,5.0,1.0,-0.891895,0.125652,-0.237159,-0.031059,0.231374,-0.261240,-1.178932,0.202532,0.021149,0.002348,0.006428,0.025214,0.000083,0.000528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.851410,-0.333105,3.992336,-0.283579,1.189173,-0.197751,-0.989741,0.518987,0.000000,0.228726,0.000000,0.073322,0.003066,0.051742
8689,1.0,0.0,0.0,0.0,1.0,6.0,1.0,-0.752431,-0.333105,-0.281027,-0.283579,-0.270626,-0.263003,1.742810,0.227848,0.000000,0.000000,0.000000,0.000000,0.000000,0.791447
8690,0.0,0.0,0.0,0.0,2.0,6.0,1.0,-0.194573,-0.333105,-0.281027,2.846999,-0.269737,-0.263003,1.744761,0.329114,0.000000,0.000000,0.079687,0.000045,0.000000,0.791975
8691,0.0,0.0,1.0,1.0,0.0,4.0,1.0,0.223820,-0.333105,0.376365,-0.283579,0.043013,2.589576,0.004978,0.405063,0.000000,0.035186,0.000000,0.015753,0.134049,0.321014
8692,0.0,0.0,1.0,1.0,2.0,4.0,1.0,1.060606,-0.142335,2.656871,-0.283579,-0.270626,-0.252422,0.004978,0.556962,0.008795,0.157247,0.000000,0.000000,0.000497,0.321014

In [237]:
from sklearn.ensemble import RandomForestClassifier
y = y.replace({False:0, True:1})

In [238]:
from sklearn.model_selection import train_test_split

train_X, test_X, train_y, test_y = train_test_split(X,y, random_state=42, test_size=0.2)
rfc = RandomForestClassifier(random_state=42)
rfc.fit(train_X, train_y)
rfc_pred = rfc.predict(test_X)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18552\2083273536.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(train_X, train_y)

In [239]:
from sklearn.metrics import f1_score, accuracy_score
rfc_acc = accuracy_score(test_y, rfc_pred)
rfc_f1 = f1_score(test_y, rfc_pred)
print('Accuracy : {:.3f} \nF1 : {:.3f}'.format(rfc_acc, rfc_f1))

Accuracy : 0.778
F1 : 0.777

In [240]:
rfc_acc

0.7780333525014376

In [241]:
from sklearn.neighbors import KNeighborsClassifier
neighbors = [2,4,6,8,10,12,16,20]
for i in neighbors:
    knn = KNeighborsClassifier(n_neighbors= i)
    knn.fit(train_X, train_y)
    knn_pred = knn.predict(test_X)
    knn_acc = accuracy_score(test_y, knn_pred)
    rfc_f1 = f1_score(test_y, knn_pred)
    print("Neighbors: {}\nAccuracy : {:.3f} \nF1 : {:.3f}".format(i, rfc_acc, rfc_f1))

C:\Users\Lenovo\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

Neighbors: 2
Accuracy : 0.778
F1 : 0.742
Neighbors: 4
Accuracy : 0.778
F1 : 0.755

C:\Users\Lenovo\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\Users\Lenovo\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

Neighbors: 6
Accuracy : 0.778
F1 : 0.765
Neighbors: 8
Accuracy : 0.778
F1 : 0.769

C:\Users\Lenovo\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\Users\Lenovo\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

Neighbors: 10
Accuracy : 0.778
F1 : 0.776
Neighbors: 12
Accuracy : 0.778
F1 : 0.776

C:\Users\Lenovo\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\Users\Lenovo\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

Neighbors: 16
Accuracy : 0.778
F1 : 0.772
Neighbors: 20
Accuracy : 0.778
F1 : 0.771

C:\Users\Lenovo\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [242]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(random_state=42, max_iter=1000, warm_start=True)
mlp.fit(train_X, train_y)
mlp_pred = mlp.predict(test_X)
mlp_acc = accuracy_score(test_y, mlp_pred)
mlp_f1 = f1_score(test_y, mlp_pred)
print('Accuracy : {:.3f} \nF1 : {:.3f}'.format(mlp_acc, mlp_f1))

C:\Users\Lenovo\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:1096: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy : 0.795
F1 : 0.792

In [243]:
from sklearn.decomposition import PCA

comp = range(2,15)
best_acc = 0
best_f1 =0
for i in comp:
    
    pca = PCA(n_components=i)
    X_pca = pca.fit_transform(X)
    X_pca= pd.DataFrame(X_pca, index=X.index)
    train_X, test_X, train_y, test_y = train_test_split(X_pca,y, random_state=42, test_size=0.2)
    rfc = RandomForestClassifier(random_state=42)
    rfc.fit(train_X, train_y)
    rfc_pred = rfc.predict(test_X)
    rfc_acc = accuracy_score(test_y, rfc_pred)
    rfc_f1 = f1_score(test_y, rfc_pred)
    if rfc_acc>best_acc:
        best_acc=rfc_acc
    if rfc_f1>best_f1:
        best_f1=rfc_f1
    print('\nNum of components: {}\nAccuracy : {:.3f} \nF1 : {:.3f}\n\n\n'.format(i,rfc_acc, rfc_f1))

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18552\273802315.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(train_X, train_y)

Num of components: 2
Accuracy : 0.677
F1 : 0.662

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18552\273802315.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(train_X, train_y)

Num of components: 3
Accuracy : 0.706
F1 : 0.691

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18552\273802315.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(train_X, train_y)

Num of components: 4
Accuracy : 0.753
F1 : 0.745

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18552\273802315.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(train_X, train_y)

Num of components: 5
Accuracy : 0.762
F1 : 0.752

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18552\273802315.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(train_X, train_y)

Num of components: 6
Accuracy : 0.771
F1 : 0.768

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18552\273802315.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(train_X, train_y)

Num of components: 7
Accuracy : 0.785
F1 : 0.784

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18552\273802315.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(train_X, train_y)

Num of components: 8
Accuracy : 0.783
F1 : 0.781

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18552\273802315.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(train_X, train_y)

Num of components: 9
Accuracy : 0.777
F1 : 0.775

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18552\273802315.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(train_X, train_y)

Num of components: 10
Accuracy : 0.779
F1 : 0.775

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18552\273802315.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(train_X, train_y)

Num of components: 11
Accuracy : 0.794
F1 : 0.793

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18552\273802315.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(train_X, train_y)

Num of components: 12
Accuracy : 0.794
F1 : 0.792

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18552\273802315.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(train_X, train_y)

Num of components: 13
Accuracy : 0.793
F1 : 0.791

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18552\273802315.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(train_X, train_y)

Num of components: 14
Accuracy : 0.790
F1 : 0.788

In [244]:
knn = KNeighborsClassifier(n_neighbors= 16)
knn.fit(X, y)
knn_pred = knn.predict(test)

C:\Users\Lenovo\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [256]:
# pca = PCA(n_components=7)
# X_pca = pca.fit_transform(X)
# test_pca = pca.fit_transform(test)
# test_pca= pd.DataFrame(test_pca, index=test.index)
# rfc = RandomForestClassifier(random_state=42)
# rfc.fit(X_pca, y)
# rfc_pred = rfc.predict(test_pca)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18552\2652010763.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(X_pca, y)

In [246]:
# mlp = MLPClassifier(random_state=42, max_iter=1000, warm_start=True)
# mlp.fit(X, y)
# mlp_pred = mlp.predict(test)

In [247]:
rfc = RandomForestClassifier(random_state=42)
rfc.fit(X, y)
rfc_pred = rfc.predict(test)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18552\3789363496.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(X, y)

In [257]:
predictions = pd.DataFrame(rfc_pred, index=test.index, columns=['Transported'])

In [258]:
predictions= predictions.replace({0:False, 1: True})

In [259]:
predictions

      Transported
0            True
1           False
2            True
3            True
4            True
...           ...
4272        False
4273         True
4274        False
4275        False
4276        False

[4277 rows x 1 columns]

In [260]:
Id = pd.read_csv('test.csv')

In [261]:
Id = Id['PassengerId']

In [262]:
submission = pd.concat([Id, predictions], axis=1)

In [263]:
submission

     PassengerId  Transported
0        0013_01         True
1        0018_01        False
2        0019_01         True
3        0021_01         True
4        0023_01         True
...          ...          ...
4272     9266_02        False
4273     9269_01         True
4274     9271_01        False
4275     9273_01        False
4276     9277_01        False

[4277 rows x 2 columns]

In [264]:
submission.to_csv('Submission8.csv',index=False)